<header id="header" class="clearfix">
    <div class="row clearfix">
        <div class="logo">
            <h1><a class="newfont" href="/" title="Trang chủ">
                    <img src="assets/img/logo.png" alt="Logo">
                </a>
            </h1>
        </div>
        <div id="curr-switcher">
            <label for="currencies">Đơn vị tiền</label>
            <select id="currencies" name="currencies" disabled>
                <option value="VND" selected="selected">VND</option>
                <option value=""USD>USD</option>
            </select>
        </div>
        <div class="login-top hide-mobile">
            <a href="/account/login">Đăng nhập</a> | 
            <a href="/account/register">Đăng ký</a></div>
        <div class="cart-info hide-mobile">
            <a href="/cart">
                <em>0</em>
                <span>sp trong giỏ hàng</span>
            </a>
        </div>
    </div>
    
    {% block body_nav %}{% include 'nav.html.twig' %}{% endblock %}
    <nav class="off-canvas-navigation show-mobile newfont">
        <a href="#menu" class="menu-button">Menu</a>
        <a href="/account" class="">Account</a>
        <a href="/cart" class="">Cart</a>
    </nav>
</header>