<div id="content">
    {% block body_content_sidebar %}
        <section role="complementary" id="sidebar">
            <nav role="navigation" id="menu">
                <!-- Thanh tìm kiếm -->
                {% block body_content_sidebar_search_form %}
                    <form method="get" action="/search" class="search-form">
                        <fieldset>
                            <input type="text" placeholder="Bạn cần tìm gì..." name="q" id="search-input">
                            <button type="submit" class="button">Tìm</button>
                        </fieldset>
                    </form>
                {% endblock %}
                <!-- Menu sản phẩm -->
                {% block body_content_sidebar_menu %}
                    <ul id="side-menu">
                        <li><a class="newfont" href="/">Trang chủ</a></li>
                        <li class="has-sub level-1 active">
                            <a class="newfont top-link" href="/tivi">Tivi</a>
                            <ul>
                                <li><a href="/tivi">Tivi</a></li>
                                <li><a href="/loa">Loa</a></li>
                                <li><a href="/dan-may">Dàn âm thanh</a></li>
                                <li><a href="/dvd-karaoke">Đầu DVD</a></li>
                            </ul>
                        </li>
                        <li class="has-sub level-1 active">
                            <a class="newfont top-link" href="/gia-dung">Gia Dụng</a>
                            <ul>
                                <li>
                                    <a href="/ban-ui">Bàn ủi</a>
                                    <a href="/bep-dien">Bếp điện</a>
                                    <a href="/bep-gas">Bếp gas</a>
                                    <a href="/binh-dun-sieu-toc">Bình đun siêu tốc</a>
                                    <a href="/binh-thuy-dien">Bình thủy điện</a>
                                    <a href="/bo-noi">Bộ nồi</a>
                                    <a href="/cay-nuoc-nong-lanh">Cây nước nóng lạnh</a>
                                    <a href="/chao-chong-dinh">Chảo chống dính</a>
                                    <a href="/den-suoi">Đèn sưởi</a>
                                    <a href="/do-dung">Đồ dùng</a>
                                    <a href="/lau-dien">Lẩu điện</a>
                                    <a href="/lo-nuong">Lò nướng</a>
                                </li>
                                <li>
                                    <a href="/lo-vi-song">Lò vi sóng</a>
                                    <a href="/may-danh-trung">Máy đánh trứng</a>
                                    <a href="/may-lam-sua-dau-nanh">Máy làm sữa đậu nành</a>
                                    <a href="/may-hut-bui">Máy hút bụi</a>
                                    <a href="/may-ep-trai-cay">Máy ép trái cây</a>
                                    <a href="/may-say-toc">Máy sấy tóc</a>
                                    <a href="/may-tao-kieu-toc">Máy tạo kiểu tóc</a>
                                    <a href="/may-xay-sinh-to">Máy xay sinh tố</a>
                                    <a href="/noi-ap-suat">Nồi áp suất</a>
                                    <a href="/noi-com-dien">Nồi cơm điện</a>
                                    <a href="/may-nuoc-nong">Máy nước nóng</a>
                                    <a href="/quat-suoi">Quạt sưởi</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="newfont" href="/tu-lanh">Tủ Lạnh</a>
                        </li>
                        <li>
                            <a class="newfont" href="/may-lanh">Máy Lạnh</a>
                        </li>
                        <li>
                            <a class="newfont" href="/quat">Quạt</a>
                        </li>
                        <li class="has-sub level-1 active">
                            <a class="newfont top-link" href="/may-giat">Máy Giặt</a>
                            <ul>
                                <li>
                                    <a href="/may-giat">Máy Giặt</a>
                                </li>
                                <li>
                                    <a href="/may-say-quan-ao">Máy sấy quần áo</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endblock %}
            </nav>

            <aside class="top-sellers">
                <h3>Bán chạy</h3>
                <ul>
                    <li>
                        <a href="/products/asanzo-25s400" title="Tivi Asanzo 25 inch 25S400">
                            <img src="https://cdn2.dmx.vn/Products/Images/1942/72689/asanzo-25s400-10-550x340.jpg" alt="Tivi Asanzo 25 inch 25S400">
                            <span class="top-title">Tivi Asanzo 25 inch 25S400
                                <i><span class="money" data-currency-vnd="2.790.000₫">2.790.000₫</span></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/products/aqua-aqw-s70kt" title="Máy giặt AQUA 7kg AQW-S70KT">
                            <img src="https://cdn3.dmx.vn/Products/Images/1944/70026/aqua-aqw-s70kt-nkk-300x300.jpg" alt="Máy giặt AQUA 7kg AQW-S70KT">
                            <span class="top-title">Máy giặt AQUA 7kg AQW-S70KT
                                <i>
                                    <del>
                                        <span class="money" data-currency-usd="3.690.000₫">3.690.000₫</span>
                                    </del>
                                    <span class="money" data-currency-usd="3.590.000₫">3.590.000₫</span></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/products/ban-asia-b08002" title="Quạt bàn Asia B08002">
                            <img src="https://cdn4.dmx.vn/Products/Images/1992/66555/quat-nowatermark-300x300.jpg" alt="Quạt bàn Asia B08002">
                            <span class="top-title">Tivi Asanzo 25 inch 25S400
                                <i><span class="money" data-currency-vnd="210.000₫">210.000₫</span></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </aside>

            {% block body_content_sidebar_social_link %}
                <aside class="social-links">
                    <h3>Chia sẻ</h3>
                    <a href="https://twitter.com/shopify" title="Twitter">
                        <img src="assets/img/social-icon/icon-twitter.png" alt="Twitter">
                    </a>
                    <a href="https://www.facebook.com/shopify" title="Facebook">
                        <img src="assets/img/social-icon/icon-facebook.png" alt="Facebook">
                    </a>
                    <a href="https://www.pinterest.com/shopify" title="Pinterest">
                        <img src="assets/img/social-icon/icon-pinterest.png" alt="Pinterest">
                    </a>
                    <a href="https://instagram.com/shopify" title="Instagram">
                        <img src="assets/img/social-icon/icon-instagram.png" alt="Instagram">
                    </a>
                </aside>
            {% endblock %}
        </section>
    {% endblock %}

    <section role="main" id="main">
        <div class="promo-wide">
            <a href="https://themes.shopify.com/themes/sunrise/styles/spring?ref=patternhead"> <img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/promo-wide.jpg?890626430065088156" alt="Sunrise Theme for Shopify"> </a>
        </div>
        <div id="slideshow" class="">
            <div id="slides" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 4362px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(-1454px, 0px, 0px); transform-origin: 1817.5px center 0px; perspective-origin: 1817.5px center;">
                        <div class="owl-item" style="width: 727px;">
                            <div class="slide first-slide">
                                <a href="https://themes.shopify.com/themes/sunrise/styles/spring?ref=patternhead"><img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/home-slide1.jpg?890626430065088156" alt="Sunrise Theme for Shopify"> </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 727px;">
                            <div class="slide">
                                <a href="https://themes.shopify.com/themes/sunrise/styles/spring?ref=patternhead"><img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/home-slide2.jpg?890626430065088156" alt="Sunrise Theme for Shopify"> </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 727px;">
                            <div class="slide">
                                <a href="https://themes.shopify.com/themes/sunrise/styles/spring?ref=patternhead"><img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/home-slide3.jpg?890626430065088156" alt="Sunrise Theme for Shopify"> <span class="caption">Captions are optional and easy to add!!!</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-controls clickable">
                    <div class="owl-buttons">
                        <div class="owl-prev"><span class="arrow-left"></span>
                        </div>
                        <div class="owl-next"><span class="arrow-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <h3>Featured Collections</h3>
        <ul class="block-grid columns3 collection-th collection-list">
            <li>
                <a class="prod-th" href="/collections/animals" title="Animals" style="height: 273px;"> <span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/42_large.jpg?v=1334938549" alt=""> </span> <span class="product-title"> <span class="title"> Animals </span> </span>
                </a>
            </li>
            <li>
                <a class="prod-th" href="/collections/vehicles" title="Vehicles" style="height: 273px;"> <span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/5_large.jpg?v=1334936803" alt=""> </span> <span class="product-title"> <span class="title"> Vehicles </span> </span>
                </a>
            </li>
            <li>
                <a class="prod-th" href="/collections/dolls" title="Dolls" style="height: 273px;"> <span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/22_large.jpg?v=1334937529" alt=""> </span> <span class="product-title"> <span class="title"> Dolls </span> </span>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <h3>Featured Items</h3>
        <ul class="block-grid columns3 collection-th">
            <li><a class="prod-th" href="/products/red-robot" title="Red Robot" style="height: 293px;"><span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/51_1024x1024.jpg?v=1334938938" alt="Red Robot"></span><span class="product-title"> <span class="title"> Red Robot </span> <span class="price"> <span class="money" data-currency-usd="$175.49">$175.49</span> </span> </span></a>
            </li>
            <li><a class="prod-th" href="/products/rubiks-cube" title="Rubik's Cube" style="height: 293px;"><span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/10_1024x1024.jpg?v=1334936941" alt="Rubik's Cube"></span><span class="product-title"> <span class="title"> Rubik's Cube </span> <span class="price"> <span class="money" data-currency-usd="$9.00">$9.00</span> </span> </span></a>
            </li>
            <li><a class="prod-th" href="/products/dancing-bull" title="Dancing Bull" style="height: 293px;"><span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/53_1024x1024.jpg?v=1334939034" alt="Dancing Bull"></span><span class="product-title"> <span class="title"> Dancing Bull </span> <span class="price"> <del><span class="money" data-currency-usd="$199.00">$199.00</span></del> <span class="money" data-currency-usd="$144.50">$144.50</span> </span> </span> <span class="sale round">SALE</span> </a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="scroller">
            <h3 class="scroll-title">Các Đối Tác Lớn</h3>
            <div id="brand-scroller" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 2590px; left: 0px; display: block; transition: all 500ms ease; transform: translate3d(-185px, 0px, 0px);">
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/doi-tac/samsung">
                                    <img class="lazyOwl" alt="Samsung partner" src="assets/img/foot-partner/samsung.png" style="display: inline;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-wrapper" style="width: 2590px; left: 0px; display: block; transition: all 500ms ease; transform: translate3d(-185px, 0px, 0px);">
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/doi-tac/sanyo">
                                    <img class="lazyOwl" alt="Sanyo partner" src="assets/img/foot-partner/sanyo.png" style="display: inline;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-wrapper" style="width: 2590px; left: 0px; display: block; transition: all 500ms ease; transform: translate3d(-185px, 0px, 0px);">
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/doi-tac/toshiba">
                                    <img class="lazyOwl" alt="Toshiba partner" src="assets/img/foot-partner/toshiba.png" style="display: inline;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-wrapper" style="width: 2590px; left: 0px; display: block; transition: all 500ms ease; transform: translate3d(-185px, 0px, 0px);">
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/doi-tac/lg">
                                    <img class="lazyOwl" alt="LG partner" src="assets/img/foot-partner/lg.png" style="display: inline;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-wrapper" style="width: 2590px; left: 0px; display: block; transition: all 500ms ease; transform: translate3d(-185px, 0px, 0px);">
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/doi-tac/hitachi">
                                    <img class="lazyOwl" alt="Hitachi partner" src="assets/img/foot-partner/hitachi.png" style="display: inline;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-wrapper" style="width: 2590px; left: 0px; display: block; transition: all 500ms ease; transform: translate3d(-185px, 0px, 0px);">
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/doi-tac/sony">
                                    <img class="lazyOwl" alt="Sony partner" src="assets/img/foot-partner/sony.png" style="display: inline;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-wrapper" style="width: 2590px; left: 0px; display: block; transition: all 500ms ease; transform: translate3d(-185px, 0px, 0px);">
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/doi-tac/panasonic">
                                    <img class="lazyOwl" alt="Panasonic partner" src="assets/img/foot-partner/panasonic.png" style="display: inline;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-controls clickable">
                    <div class="owl-buttons">
                        <div class="owl-prev"><span class="arrow-left"></span>
                        </div>
                        <div class="owl-next"><span class="arrow-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome">
            <p>Hàng hoá tại XXX vô cùng đa dạng, từ các nhóm hàng lớn như Tivi, Tủ Lạnh, Máy Giặt, Máy Lạnh… đến các nhóm hàng Gia dụng như: Nồi Cơm Điện, Bếp Ga, Bếp Điện Từ… Điện máy XANH cũng kinh doanh các mặt hàng như: Điện Thoại, Máy Tính Bảng, Laptop, Phụ Kiện…</p>
        </div>
    </section>
</div>