<footer role="contentinfo" id="footer" class="has-bg-image">
    <div class="inner">
        <p class="payment-icons">
            <img src="assets/img/payment-types/creditcards_visa.svg" alt="visa" />
            <img src="assets/img/payment-types/creditcards_master.svg" alt="master" />
            <img src="assets/img/payment-types/creditcards_paypal.svg" alt="paypal" />
        </p>
        <ul class="footer-nav">
            <li>
                <a href="/search" title="">Search</a>
            </li>
            <li>
                <a href="/pages/about-us" title="">About Us</a>
            </li>
            <li>
                <a href="/pages/faq" title="">FAQ</a>
            </li>
        </ul>
        <div class="credits clearfix">
            <p class="copyright">Copyright &copy; 2016 <a href="/" title="">Sunrise Theme for Shopify</a>. All Rights Reserved.</p>
            <p class="subtext">
                <a href="http://www.rawsterne.co.uk" title="Shopify theme by Rawsterne" target="_blank">Site by Rawsterne</a>
            </p>
            <p class="subtext">
                <a target="_blank" rel="nofollow" href="https://www.shopify.com">Ecommerce Software by Shopify</a>
            </p>
        </div>
        <a id="scroll-top" title="Back to top of page" class="" href="#header">Back to top</a>
    </div>
</footer>