<nav class="top-menu hide-mobile clearfix" role="navigation">
    <ul>
        <li>
            <a class="active" href="">Trang chủ</a>
        </li>
        <li class="has-sub level-1">
            <a href="/tivi">Tivi</a>
            <ul>
                <li><a href="/tivi">Tivi</a></li>
                <li><a href="/loa">Loa</a></li>
                <li><a href="/dan-may">Dàn âm thanh</a></li>
                <li><a href="/dvd-karaoke">Đầu DVD</a></li>
            </ul>
        </li>
        <li class="has-sub level-1">
            <a href="/gia-dung">Gia Dụng</a>
            <ul>
                <li>
                    <a href="/ban-ui">Bàn ủi</a>
                    <a href="/bep-dien">Bếp điện</a>
                    <a href="/bep-gas">Bếp gas</a>
                    <a href="/binh-dun-sieu-toc">Bình đun siêu tốc</a>
                    <a href="/binh-thuy-dien">Bình thủy điện</a>
                    <a href="/bo-noi">Bộ nồi</a>
                    <a href="/cay-nuoc-nong-lanh">Cây nước nóng lạnh</a>
                    <a href="/chao-chong-dinh">Chảo chống dính</a>
                    <a href="/den-suoi">Đèn sưởi</a>
                    <a href="/do-dung">Đồ dùng</a>
                    <a href="/lau-dien">Lẩu điện</a>
                    <a href="/lo-nuong">Lò nướng</a>
                </li>
                <li>
                    <a href="/lo-vi-song">Lò vi sóng</a>
                    <a href="/may-danh-trung">Máy đánh trứng</a>
                    <a href="/may-lam-sua-dau-nanh">Máy làm sữa đậu nành</a>
                    <a href="/may-hut-bui">Máy hút bụi</a>
                    <a href="/may-ep-trai-cay">Máy ép trái cây</a>
                    <a href="/may-say-toc">Máy sấy tóc</a>
                    <a href="/may-tao-kieu-toc">Máy tạo kiểu tóc</a>
                    <a href="/may-xay-sinh-to">Máy xay sinh tố</a>
                    <a href="/noi-ap-suat">Nồi áp suất</a>
                    <a href="/noi-com-dien">Nồi cơm điện</a>
                    <a href="/may-nuoc-nong">Máy nước nóng</a>
                    <a href="/quat-suoi">Quạt sưởi</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/tu-lanh">Tủ Lạnh</a>
        </li>
        <li>
            <a href="/may-lanh">Máy Lạnh</a>
        </li>
        <li>
            <a href="/quat">Quạt</a>
        </li>
        <li class="has-sub level-1">
            <a href="/may-giat">Máy Giặt</a>
            <ul>
                <li>
                    <a href="/may-giat">Máy Giặt</a>
                </li>
                <li>
                    <a href="/may-say-quan-ao">Máy sấy quần áo</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<nav class="off-canvas-navigation show-mobile newfont">
    <a href="" class="menu-button">Danh mục</a>
    <a href="" class="">Tài khoản</a>
    <a href="" class="">Giỏ hàng</a>
</nav>