/* 
    Created on : May 5, 2016, 7:58:38 PM
    Author     : phamthanh
*/

/*------------------------------------------------------------------*/
/* BUTTONS
/*------------------------------------------------------------------*/
button, .button {
    @include linear-gradient($button-bg, $button-bg1);

    color: $button-text;
    white-space: normal;
    border: none;
    cursor: pointer;
    font-weight: $button-weight;
    line-height: normal;
    margin: 0 0 0 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    text-transform: $button-text-transform;
    display: inline-block;
    padding: 0.6em 1.5em 0.5em 1.5em;
    border-radius: 2em;
    font-size: 1.25em;
    -webkit-appearance: none;

    @include prefix(transition, "all 300ms ease-in");

    @include prefix(box-shadow, "3px 3px 2px rgba(0, 0, 0, 0.2)");

    font-family: $heading-font;
}

button:hover, button:focus, .button:hover, .button:focus {
    background: $button-bg-active;
    color: $button-hover-active;
}

.button.secondary, .button.secondary:visited {
    font-size: 1em;
    background: $button-sec-bg;
    color: $button-sec-text;
}

.button.secondary:hover, .button.secondary:focus {
    background: $button-sec-bg-hover;
    color: $button-sec-text-hover;
}

button.disabled, button[disabled], .button.disabled, .button[disabled] {
    cursor: default;
    opacity: 0.6;

    @include prefix(box-shadow, "none");
}

button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    cursor: default;
    opacity: 0.6;

    @include prefix(box-shadow, "none");
}

button:active, .button:active {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* FF */
/* Don't use native buttons on iOS */
input[type=submit].button, button.button {
    -webkit-appearance: none;
}