/* 
    Created on : May 5, 2016, 7:53:57 PM
    Author     : phamthanh
*/

/*------------------------------------------------------------------*/
/* COLLECTION
/*------------------------------------------------------------------*/
#collection-desc {
    margin: 0 0 1em 0;
}

.collection-th a {
    display: block;
    text-align: center;
    background: $thumb-bg;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    text-decoration: none;

    @include prefix(box-shadow, "0px 1px 1px rgba(0, 0, 0, 0.1)");
}

.collection-th .product-title {
    @include linear-gradient($thumb-caption-bg, $thumb-caption-bg1);

    margin: 0.5em 0 0 0;
    border-radius: 6px;
    display: block;
    line-height: 1.2;
    padding: 0.25em 0.5em;
    font-family: $heading-font;
    font-weight: normal;
}

.collection-th .title {
    color: $thumb-title;
    font-size: 22px;
}

.collection-th .price {
    color: $thumb-price;
    display: block;
    font-size: 1em;
    font-family: $regular-font;
    line-height: 1.2;
}

.collection-th .sold-out {}

// sale stickers
.sale {
    color: $thumb-sale-text;
    position: absolute;
    top: -5px;
    left: -5px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    font-family: $heading-font;

    @include linear-gradient($thumb-sale-bg, $thumb-sale-bg1);
}

.collection-th a:hover .product-title, .collection-th a:focus .product-title, .collection-th a:active .product-title {
    background: $thumb-caption-bg-hover;
    outline: none;
}

// tags
.tags {
    display: none;
    padding: 0.5em;
}

.show-tags .tags {
    display: block;
}

.coll-tags {
    margin: 0 0 0 0;
}

.coll-tags h5 {
    cursor: pointer;
}

.tags a {
    display: inline-block;
    margin: 0 5px 0 0;
}

.tags a.current {
    font-weight: bold;
}

// sort and filter
.sort-and-filter {
    padding: 0 0 1em 0;
}

.sort-selector {
    margin: 0 0 1em 0;
}

.sort-selector label {
    font-size: 0.8em;
}