/* 
    Created on : May 5, 2016, 7:49:09 PM
    Author     : phamthanh
*/

/*------------------------------------------------------------------*/
/* FOOTER
/*------------------------------------------------------------------*/

#footer {
    background: url(../img/footer-hills.png) repeat-x scroll center top transparent;
}

#footer {
    clear: both;
    color: $footer-text;
    margin: 0;
    padding: 0;
    text-align: center;
}

#footer .inner {
    width: 100%;
    max-width: $site-max-width;
    min-width: $site-min-width;
    margin: 0 auto;
    padding: 0 2em;
    position: relative;
}

#footer.has-bg-image, #footer.has-bg-image .inner {
    min-height: 360px;
}

.footer-nav {
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav a {
    color: $footer-links;
    display: inline-block;
    padding: 0 0.5em;
    text-decoration: none;
    font-size: 1em;
}

.footer-nav a:hover, .footer-nav a:focus, .footer-nav a:active {
    color: $footer-links-hover;
}

.credits {
    text-align: center;
    width: 100%;
}

.credits p {
    margin: 0;
    font-size: 0.7em;
}

.credits a {
    color: inherit;
}

#footer.has-bg-image .credits {
    padding-top: 90px;
}

#scroll-top {
    background: url(../img/button-top.png) no-repeat center center;
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 9999;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    text-indent: -9999em;
    display: none;
    opacity: 0.5;
}

#scroll-top:hover {
    outline: none;
    opacity: 1.0;
}

.payment-icons img {
    display: inlne-block;
    margin: 3px;
    max-width: 40px;
}