/* 
    Created on : May 5, 2016, 8:14:48 PM
    Author     : phamthanh
*/

/*-------------------------------------------------
   OWL CAROUSEL
-------------------------------------------------*/
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
  cursor: url(../img/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

#brand-scroller .owl-item {
  padding: 10px 5px;
}

.owl-buttons span {
  margin: 0;
  line-height: 40px;
  display: inline-block;
}

.owl-next, .owl-prev {
  background: url(../img/slide-buttons.png) no-repeat left top;
  margin: 0;
  display: inline-block;
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -20px;

  @include prefix(transition, all 0.3s ease-in-out);

  opacity: 0.7;
}

.owl-prev {
  left: 0px;
}

.owl-next {
  right: 0px;
  background-position: right top;
}

.image-nav span.owlnext {
  margin: 0 0 0 5px;
}

.owl-next:hover, .owl-prev:hover {
  opacity: 1.0;
}

#slideshow .owl-prev, #slideshow .owl-next {
  opacity: 0.3;
}

#slideshow .owl-prev:hover, #slideshow .owl-next:hover {
  opacity: 1.0;
}

#slideshow .owl-prev {
  left: 0.2em;
}

#slideshow .owl-next {
  right: 0.2em;
}

#slides .owl-item {
  width: 100%;
  padding: 0;
}

#more-images .owl-item {
  padding: 0 5px;
}