/* 
    Created on : May 5, 2016, 7:56:59 PM
    Author     : phamthanh
*/

/*------------------------------------------------------------------*/
/* SLIDER
/*------------------------------------------------------------------*/
#slideshow {
    position: relative;
    padding: 6px;
    background: $slider-bg;
    border-radius: 10px;
    margin: 0 0 1em 0;
}

#slides {
    width: 100%;
    height: auto;
    text-align: center;
}

.slide {
    width: 100%;
    height: auto;
}

//.first-slide { display: inline-block; } /* fix foc */
.slide a {
    position: relative;
    display: inline-block;
    width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

/* SLIDE NAV */
.slide-prev span, .slide-next span {
    margin: 0;
    display: inline-block;
    line-height: 40px;
}

.slide-prev, .slide-next {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 200;
    opacity: 0.3;
    background: url(../img/slide-buttons.png) no-repeat left top;
}

.slide-prev {
    left: 0.5em;
}

.slide-next {
    background-position: right top;
    right: 0.5em;
}

.slide-prev:hover, .slide-next:hover {
    cursor: pointer;
    opacity: 1.0;
}

/* SLIDE CAPTION */
.caption {
    background: $caption_bg;
    background: rgba($caption_bg, 0.7);
    color: $caption_text;
    display: block;
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0px;
    bottom: 0px;
    padding: 0.5em 1em;
    line-height: 1.2;
    text-align: center;
    font-weight: normal;
    font-size: 1.25em;
    font-family: $heading-font;
}

#slideshow.single-slide .slide-prev,
#slideshow.single-slide .slide-next,
#slideshow.single-slide .slide-pager {
    display: none;
}

/* Slide pager*/
.slide-pager {
    position: absolute;
    bottom: 0px;
    display: none;
    text-align: center;
    padding: 15px 0;
    z-index: 200;
    width: 100%;
}

.slide-pager a {
    background: #fff;
    opacity: 0.3;
    border: 2px solid #222222;
    border-radius: 1000px;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 3px;
}

.slide-pager a:hover {
    opacity: 1;
}

.slide-pager a.cycle-pager-active {
    opacity: 0.7;
}