/* 
    Created on : May 5, 2016, 7:51:46 PM
    Author     : phamthanh
*/

/*------------------------------------------------------------------*/
/* SIMPLE ACCORDION
/*------------------------------------------------------------------*/
.gt-accordion {
    margin: 0 0 2em 0;
}

.gt-accordion > h4 {
    background: $acc-bg;
    background: rgba($acc-bg, 0.5);
    color: $acc-text;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0.25em 0 0 0;
    padding: .5em 3em .5em .75em;
    border-radius: 12px;
    line-height: 1;
    position: relative;
}

.gt-accordion > h4:after {
    width: 0;
    height: 0;
    border-color: $acc-text rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 5px;
    content: "";
    display: block;
    height: 0;
    margin-top: -2.5px;
    top: 50%;
    width: 0;
    position: absolute;
    right: .75em;
}

.gt-accordion > h4:hover {
    color: $acc-text-active;
}

.gt-accordion > h4.active {
    background: $acc-bg;
    color: $acc-text-active;
}

.gt-accordion > h4.active:after {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) $acc-text rgba(255, 255, 255, 0);
    margin-top: -10px;
}

.gt-accordion > div {
    padding: 1em;
    margin: 0 1em;
    background: $acc-bg;
    background: rgba($acc-bg, 0.9);
    color: $acc-text;
    border-radius: 0 0 12px 12px;
}

.gt-accordion > h4:first-child {}

.gt-accordion p {
    margin: 0;
    padding: 0 0 1em 0;
}

.gt-accordion ol, .gt-accordion ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}
