/* 
    Created on : May 5, 2016, 7:56:14 PM
    Author     : phamthanh
*/

/*------------------------------------------------------------------*/
/* BANNER AD
/*------------------------------------------------------------------*/
.promo-wide {
    padding: 6px;
    background: $slider-bg;
    border-radius: 10px;
    margin: 0 0 1em 0;
}