/* 
    Created on : May 5, 2016, 7:57:35 PM
    Author     : phamthanh
*/

/*------------------------------------------------------------------*/
/* HEADER
/*------------------------------------------------------------------*/
#header {
    text-align: center;
    padding: 1em 0;
}

.off-canvas-navigation {
    background: none;
}

.off-canvas-navigation a {
    background: $mobile-nav-bg;
    border: $mobile-nav-bg 3px solid;
    color: $mobile-nav-text;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 1em 1em;
    margin: 0 0.25em;
    text-align: center;
    border-radius: 40px;
}

.off-canvas-navigation a:hover, .off-canvas-navigation a:focus, .off-canvas-navigation a:active {
    background: $mobile-nav-bg;
    border-color: $mobile-nav-text;
    outline: none;
}

.logo {
    padding-bottom: 10px;
}

.logo.textonly h1 {
    font-size: 64px;
    line-height: 1.1;
}

.logo.textonly a {
    color: $logo-link-color;
    font-size: 64px;
    text-decoration: none;
    line-height: 1.1;
}

.logo.textonly a:hover {
    color: $logo-link-hover;
}

.logo img {
    max-width: 300px;
    width: 100%;
}

.breadcrumb {
    font-size: 0.85em;
    margin: 0 0 0.75em 0;
}

#curr-switcher {
    background: $content-bg;
    background: rgba($content-bg, 0.25);
    padding: 0.25em 0;
    border-radius: 15px;
    margin: 0.5em 0;
}

#curr-switcher select {
    font-size: 0.8em;
}
