/* 
    Created on : May 5, 2016, 7:58:11 PM
    Author     : phamthanh
*/

/*------------------------------------------------------------------*/
/* LAYOUT
/*------------------------------------------------------------------*/
#site-wrap {
    width: 100%;
    max-width: $site-max-width;
    min-width: $site-min-width;
    margin: 0 auto;
    padding: 0 1em;
    position: relative;
}

#content {
    margin: 0 0 3em 0;
    width: 100%;
    overflow: hidden;
    background: $content-bg;
    background: rgba($content-bg, 0.25);
    border-radius: 20px;
    border: $content-bg 1px solid;
    border: rgba($content-bg, 0.7) 1px solid;
}

#header, #main, #sidebar, #footer {
    width: 100%;
    padding: 1em;
}

#header, #content, #sidebar, #main {
    @include prefix(transition, all 0.2s ease);
}

#sidebar {
    margin-left: -100%;
    float: left;
    width: 25%;
}

#main {
    margin-left: 0;
    float: left;
    width: 100%;
}

.off-canvas-navigation {
    display: block;
    overflow: hidden;
    width: 100%;
}

.active-nav #sidebar {
    margin-left: 0;
    width: 100%;
}

.active-nav #main {
    margin-right: -100%;
}

#main {
    font-size: 0.85em;
}

/* make sure sidebar is not too tall when it's hidden */
.small-screen #sidebar {
    height: 200px;
}

.active-nav #sidebar {
    height: auto;
}