/* 
    Created on : May 5, 2016, 8:02:01 PM
    Author     : phamthanh
*/

@function smallerfont($fontsize, $percent: 0.66) {
    @return round($fontsize * $percent) + px;
}

// vendor prefixes
// use like this...
// #test {@include prefix(transition, "background-color 0.15s ease-in-out");}
@mixin prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
    -ms-#{$name}: #{$argument};
    -moz-#{$name}: #{$argument};
    -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}

@mixin linear-gradient($fromColor, $toColor) {
    background-color: $toColor;

    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor));

    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, $fromColor, $toColor);

    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, $fromColor, $toColor);

    /* FF3.6 */
    background-image: -ms-linear-gradient(top, $fromColor, $toColor);

    /* IE10 */
    background-image: -o-linear-gradient(top, $fromColor, $toColor);

    /* Opera 11.10+ */
    background-image: linear-gradient(top, $fromColor, $toColor);
}