<div id="content">
    <section role="complementary" id="sidebar">
        <nav role="navigation" id="menu">
            <form method="get" action="/search" class="search-form">
                <fieldset>
                    <input type="text" placeholder="Search..." name="q" id="search-input">
                    <button type="submit" class="button">Search</button>
                </fieldset>
            </form>
            <ul id="side-menu">
                <li> <a class="newfont" href="/">Home</a> </li>
                <li class="has-sub level-1"> <a class="newfont top-link" href="/collections/toys">Toys</a>
                    <ul class="animated">
                        <li class="has-sub level-2"> <a class="top-link" href="/collections/toys/Animal">Animals</a>
                            <ul>
                                <li> <a href="/collections/toys/bears" title="">Bears</a> </li>
                                <li> <a href="/collections/toys/monkeys" title="">Monkeys</a> </li>
                                <li> <a href="/collections/toys" title="">View all</a> </li>
                            </ul>
                        </li>
                        <li> <a class="" href="/collections/toys/Vehicle">Vehicles</a> </li>
                        <li> <a class="" href="/collections/dolls">Dolls</a> </li>
                        <li> <a class="" href="/collections/all-products/Puzzle">Puzzles</a> </li>
                    </ul>
                </li>
                <li class="has-sub level-1"> <a class="newfont top-link" href="/collections/accessories">Accessories</a>
                    <ul class="animated">
                        <li> <a class="" href="/collections/footwear">Footwear</a> </li>
                        <li> <a class="" href="/collections/sunglasses">Sunglasses</a> </li>
                    </ul>
                </li>
                <li> <a class="newfont" href="/blogs/news">Blog</a> </li>
                <li> <a class="newfont" href="/pages/contact">Contact</a> </li>
                <li class="has-sub level-1"> <a class="newfont top-link" href="/pages/documentation">Support</a>
                    <ul class="animated">
                        <li> <a class="" href="/pages/documentation">Documentation</a> </li>
                        <li> <a class="" href="/pages/faq">FAQ</a> </li>
                        <li> <a class="" href="/pages/styles">Styles</a> </li>
                    </ul>
                </li>
                <li> <a class="newfont" href="https://themes.shopify.com/themes/sunrise/styles/spring?ref=patternhead">Buy theme</a> </li>
                <li class="has-sub"> <a href="/collections/all" class="top-link newfont">Shop by tag</a>
                    <ul id="search-tags">
                        <li> <a class="tag" href="/collections/all-products/accessory">accessory</a> <a class="tag" href="/collections/all-products/animal">animal</a> <a class="tag" href="/collections/all-products/bears">bears</a> <a class="tag" href="/collections/all-products/beige">beige</a> <a class="tag" href="/collections/all-products/black">black</a> <a class="tag" href="/collections/all-products/blue">blue</a> <a class="tag" href="/collections/all-products/boots">boots</a> <a class="tag" href="/collections/all-products/brown">brown</a> <a class="tag" href="/collections/all-products/brown-sunglasses">brown sunglasses</a> <a class="tag" href="/collections/all-products/doll">doll</a> <a class="tag" href="/collections/all-products/flower">flower</a> <a class="tag" href="/collections/all-products/gold">gold</a> <a class="tag" href="/collections/all-products/gray">gray</a> <a class="tag" href="/collections/all-products/green">green</a> <a class="tag" href="/collections/all-products/ladies">ladies</a> <a class="tag" href="/collections/all-products/mens">mens</a> <a class="tag" href="/collections/all-products/monkeys">monkeys</a> <a class="tag" href="/collections/all-products/orange">orange</a> <a class="tag" href="/collections/all-products/person">person</a> <a class="tag" href="/collections/all-products/pink">pink</a> <a class="tag" href="/collections/all-products/puzzle">puzzle</a> <a class="tag" href="/collections/all-products/red">red</a> <a class="tag" href="/collections/all-products/retro">retro</a> <a class="tag" href="/collections/all-products/sneakers">sneakers</a> <a class="tag" href="/collections/all-products/sunglasses">sunglasses</a> <a class="tag" href="/collections/all-products/vehicle">vehicle</a> <a class="tag" href="/collections/all-products/vintage">vintage</a> <a class="tag" href="/collections/all-products/white">white</a> <a class="tag" href="/collections/all-products/wood">wood</a> <a class="tag" href="/collections/all-products/yellow">yellow</a> </li>
                    </ul>
                </li>
                <li class="has-sub"> <a href="/blogs/news" class="top-link newfont">Latest posts</a>
                    <ul id="side-posts">
                        <li>
                            <a class="article-link" href="/blogs/news/12288497-test-vimeo-video"> <strong>Test Vimeo Video</strong> <span>Postino - I Love It (OFFICIAL MUSIC VIDEO) from Will Kindrick on Vimeo.</span> </a>
                        </li>
                        <li>
                            <a class="article-link" href="/blogs/news/12288445-test-blog-image"> <strong>Test Blog Image</strong> <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis dapibus dui. Aliquam euismod tellus...</span> </a>
                        </li>
                        <li>
                            <a class="article-link" href="/blogs/news/1657222-test-youtube-video"> <strong>Test Youtube Video</strong> <span>Here's an example with a YouTube vid embedded... Looks cool right? Lorem ipsum dolor sit...</span> </a>
                        </li>
                        <li>
                            <a class="article-link" href="/blogs/news/1657212-test-lists"> <strong>Test Lists</strong> <span>Here’s a numbered list: Item one Item two Item three Here’s a bulleted list: Item...</span> </a>
                        </li>
                        <li>
                            <a class="article-link" href="/blogs/news/1657202-test-paragraphs"> <strong>Test Paragraphs</strong> <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin ac felis vel enim eleifend porta....</span> </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <aside class="social-links">
            <h3>Stay in touch</h3>
            <a href="https://twitter.com/shopify" title="Twitter"><img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/icon-twitter.png?890626430065088156" alt="Twitter">
            </a>
            <a href="https://www.facebook.com/shopify" title="Facebook"><img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/icon-facebook.png?890626430065088156" alt="Facebook">
            </a>
            <a href="https://www.pinterest.com/shopify" title="Pinterest"><img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/icon-pinterest.png?890626430065088156" alt="Pinterest">
            </a>
            <a href="https://instagram.com/shopify" title="Instagram"><img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/icon-instagram.png?890626430065088156" alt="Instagram">
            </a>
        </aside>
        <aside class="subscribe-form">
            <h3>Newsletter</h3>
            <form class="newsletter" action="" method="post">
                <p>Sign up to our newsletter for the latest news and special offers.</p>
                <fieldset>
                    <input type="email" placeholder="type your email..." class="required email input-text" name="EMAIL">
                    <button type="submit" class="button">Subscribe</button>
                </fieldset>
            </form>
        </aside>
        <aside class="top-sellers">
            <h3>Popular products</h3>
            <ul>
                <li>
                    <a href="/products/red-robot" title="Red Robot"><img src="//cdn.shopify.com/s/files/1/0049/3732/products/51_medium.jpg?v=1334938938" alt="Red Robot"> <span class="top-title">Red Robot <i> <span class="money" data-currency-usd="$175.49">$175.49</span> </i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/products/rubiks-cube" title="Rubik's Cube"><img src="//cdn.shopify.com/s/files/1/0049/3732/products/10_medium.jpg?v=1334936941" alt="Rubik's Cube"> <span class="top-title">Rubik's Cube <i> <span class="money" data-currency-usd="$9.00">$9.00</span> </i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/products/dancing-bull" title="Dancing Bull"><img src="//cdn.shopify.com/s/files/1/0049/3732/products/53_medium.jpg?v=1334939034" alt="Dancing Bull"> <span class="top-title">Dancing Bull <i> <del><span class="money" data-currency-usd="$199.00">$199.00</span>
                                </del> <span class="money" data-currency-usd="$144.50">$144.50</span> </i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/products/blue-toy-car" title="Blue Toy Car"><img src="//cdn.shopify.com/s/files/1/0049/3732/products/5_medium.jpg?v=1334936803" alt="Blue Toy Car"> <span class="top-title">Blue Toy Car <i> <span class="money" data-currency-usd="$14.50">$14.50</span> </i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/products/cuddly-lion" title="Cuddly Lion"><img src="//cdn.shopify.com/s/files/1/0049/3732/products/36_medium.jpg?v=1334938352" alt="Cuddly Lion"> <span class="top-title">Cuddly Lion <i> <span class="money" data-currency-usd="$7.99">$7.99</span> </i>
                        </span>
                    </a>
                </li>
            </ul>
        </aside>
    </section>
    <section role="main" id="main">
        <div class="promo-wide">
            <a href="https://themes.shopify.com/themes/sunrise/styles/spring?ref=patternhead"> <img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/promo-wide.jpg?890626430065088156" alt="Sunrise Theme for Shopify"> </a>
        </div>
        <div id="slideshow" class="">
            <div id="slides" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 4362px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(-1454px, 0px, 0px); transform-origin: 1817.5px center 0px; perspective-origin: 1817.5px center;">
                        <div class="owl-item" style="width: 727px;">
                            <div class="slide first-slide">
                                <a href="https://themes.shopify.com/themes/sunrise/styles/spring?ref=patternhead"><img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/home-slide1.jpg?890626430065088156" alt="Sunrise Theme for Shopify"> </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 727px;">
                            <div class="slide">
                                <a href="https://themes.shopify.com/themes/sunrise/styles/spring?ref=patternhead"><img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/home-slide2.jpg?890626430065088156" alt="Sunrise Theme for Shopify"> </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 727px;">
                            <div class="slide">
                                <a href="https://themes.shopify.com/themes/sunrise/styles/spring?ref=patternhead"><img src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/home-slide3.jpg?890626430065088156" alt="Sunrise Theme for Shopify"> <span class="caption">Captions are optional and easy to add!!!</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-controls clickable">
                    <div class="owl-buttons">
                        <div class="owl-prev"><span class="arrow-left"></span>
                        </div>
                        <div class="owl-next"><span class="arrow-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3>Featured Collections</h3>
        <ul class="block-grid columns3 collection-th collection-list">
            <li>
                <a class="prod-th" href="/collections/animals" title="Animals" style="height: 273px;"> <span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/42_large.jpg?v=1334938549" alt=""> </span> <span class="product-title"> <span class="title"> Animals </span> </span>
                </a>
            </li>
            <li>
                <a class="prod-th" href="/collections/vehicles" title="Vehicles" style="height: 273px;"> <span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/5_large.jpg?v=1334936803" alt=""> </span> <span class="product-title"> <span class="title"> Vehicles </span> </span>
                </a>
            </li>
            <li>
                <a class="prod-th" href="/collections/dolls" title="Dolls" style="height: 273px;"> <span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/22_large.jpg?v=1334937529" alt=""> </span> <span class="product-title"> <span class="title"> Dolls </span> </span>
                </a>
            </li>
        </ul>
        <h3>Featured Items</h3>
        <ul class="block-grid columns3 collection-th">
            <li><a class="prod-th" href="/products/red-robot" title="Red Robot" style="height: 293px;"><span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/51_1024x1024.jpg?v=1334938938" alt="Red Robot"></span><span class="product-title"> <span class="title"> Red Robot </span> <span class="price"> <span class="money" data-currency-usd="$175.49">$175.49</span> </span> </span></a>
            </li>
            <li><a class="prod-th" href="/products/rubiks-cube" title="Rubik's Cube" style="height: 293px;"><span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/10_1024x1024.jpg?v=1334936941" alt="Rubik's Cube"></span><span class="product-title"> <span class="title"> Rubik's Cube </span> <span class="price"> <span class="money" data-currency-usd="$9.00">$9.00</span> </span> </span></a>
            </li>
            <li><a class="prod-th" href="/products/dancing-bull" title="Dancing Bull" style="height: 293px;"><span class="thumbnail"> <img src="//cdn.shopify.com/s/files/1/0049/3732/products/53_1024x1024.jpg?v=1334939034" alt="Dancing Bull"></span><span class="product-title"> <span class="title"> Dancing Bull </span> <span class="price"> <del><span class="money" data-currency-usd="$199.00">$199.00</span></del> <span class="money" data-currency-usd="$144.50">$144.50</span> </span> </span> <span class="sale round">SALE</span> </a>
            </li>
        </ul>
        <div class="scroller">
            <h3 class="scroll-title">Our brands</h3>
            <div id="brand-scroller" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 2590px; left: 0px; display: block; transition: all 500ms ease; transform: translate3d(-185px, 0px, 0px);">
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/collections/all"><img class="lazyOwl" alt="Brand" src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/brand1.png?890626430065088156" style="display: inline;">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/collections/all"><img class="lazyOwl" alt="Brand" src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/brand2.png?890626430065088156" style="display: inline;">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/collections/all"><img class="lazyOwl" alt="Brand" src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/brand3.png?890626430065088156" style="display: inline;">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/collections/all"><img class="lazyOwl" alt="Brand" src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/brand4.png?890626430065088156" style="display: inline;">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/collections/all"><img class="lazyOwl" alt="Brand" style="display: inline;" src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/brand5.png?890626430065088156">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/collections/all"><img class="lazyOwl" alt="Brand" style="display: inline;" src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/brand6.png?890626430065088156">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 185px;">
                            <div class="brand">
                                <a href="/collections/all"><img class="lazyOwl" alt="Brand" style="display: inline;" src="//cdn.shopify.com/s/files/1/0049/3732/t/28/assets/brand7.png?890626430065088156">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-controls clickable">
                    <div class="owl-buttons">
                        <div class="owl-prev"><span class="arrow-left"></span>
                        </div>
                        <div class="owl-next"><span class="arrow-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome">
            <p>Sunrise is a unique Shopify theme. It's responsive too so it'll look great on all your gadgets including desktops, tablets and phones. Give it a whirl on your iPad or iPhone to see how that works.</p>
            <p>You can easily change the whole look and feel of your site including colors, typography, graphics etc.</p>
            <p>It's packed with awesome features including: sidebar accordion, newsletter signup, product image zoom that supports multiple images, home slideshow with optional captions, navigation dropdowns, Google fonts integration, social links, social sharing, off-canvas mobile menu, easy to add videos (no extra code needed), SEO ready, customized checkout, custom header/banner on your checkout page.</p>
            <p>This home page text is completely optional. You can easily hide it using the theme settings or you can choose text from a different page to display here!</p>
        </div>
    </section>
</div>