<footer role="contentinfo" id="footer" class="has-bg-image">
    <div class="inner">
        <p class="payment-icons"> <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_visa-e9f829d15f5ec3b1953ba8b9bc59b448ddb1ec9235ae70c7936178744cb31489.svg" alt="visa" /> <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_master-94df290d56a3c6424296953282e18e46895ba94bdef368640eb52f8349915610.svg" alt="master" /> <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_american_express-54be4e6bfc1dbd42f93af603e102fde2356dfe2372a7dd851074964337533296.svg" alt="american express" /> <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_paypal-dd71910a20fd73f78b4eed60e89331d4f4ceb38d55ef42e1e9935d78070ba3e2.svg" alt="paypal" /> <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_diners_club-d07838507a213e5e52ef4272d3ccfe3da294642628264cd0934baf6878ceb197.svg" alt="diners club" /> <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_discover-96a6318d3deeede785ba12114a8d00bd23731f9f16e14ddcd0bdfd5e1d846307.svg" alt="discover" /> </p>
        <ul class="footer-nav">
            <li>
                <a href="/search" title="">Search</a>
            </li>
            <li>
                <a href="/pages/about-us" title="">About Us</a>
            </li>
            <li>
                <a href="/pages/faq" title="">FAQ</a>
            </li>
        </ul>
        <div class="credits clearfix">
            <p class="copyright">Copyright &copy; 2016 <a href="/" title="">Sunrise Theme for Shopify</a>. All Rights Reserved.</p>
            <p class="subtext">
                <a href="http://www.rawsterne.co.uk" title="Shopify theme by Rawsterne" target="_blank">Site by Rawsterne</a>
            </p>
            <p class="subtext">
                <a target="_blank" rel="nofollow" href="https://www.shopify.com">Ecommerce Software by Shopify</a>
            </p>
        </div>
        <a id="scroll-top" title="Back to top of page" class="" href="#header">Back to top</a>
    </div>
</footer>