<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sunrise Theme</title>
<meta name="description" content="">

<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" media="all">
<link href="//fonts.googleapis.com/css?family=Mouse+Memoirs:400,700" rel="stylesheet" media="all">

<link href="assets/styles.css" rel="stylesheet" media="all">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="assets/shop.js"></script>

<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->