<!DOCTYPE html>
<html>
<head>
    {% include 'header.html.twig' %}
</head>

<body>
    <div id="site-wrap">
    {% include 'body.header.html.twig' %}
    {% block content %}{% endblock %}
    </div>
    {% include 'footer.html.twig' %}
</body>
</html>
