<nav class="top-menu hide-mobile clearfix" role="navigation">
    <ul>
        <li>
            <a class="active" href="">Home</a>
        </li>
        <li class="has-sub level-1">
            <a href="">Toys</a>
            <ul>
                <li>
                    <a href="">Animals</a>
                </li>
                <li>
                    <a href="">Vehicles</a>
                </li>
                <li>
                    <a href="">Dolls</a>
                </li>
                <li>
                    <a href="">Puzzles</a>
                </li>
            </ul>
        </li>
        <li class="has-sub level-1">
            <a href="">Accessories</a>
            <ul>
                <li>
                    <a href="">Footwear</a>
                </li>
                <li>
                    <a href="">Sunglasses</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="" href="">Blog</a>
        </li>
        <li>
            <a class="" href="">Contact</a>
        </li>
        <li class="has-sub level-1">
            <a href="">Support</a>
            <ul>
                <li>
                    <a href="">Documentation</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">Styles</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="" href="">Buy theme</a>
        </li>
    </ul>
</nav>
<nav class="off-canvas-navigation show-mobile newfont">
    <a href="" class="menu-button">Menu</a>
    <a href="" class="">Account</a>
    <a href="" class="">Cart</a>
</nav>